body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #C4A29E;
}

header {
  background-color: #002A32;
  color: #FFC6AC;
  padding: 1em;
  text-align: center;
  border-bottom: 5px solid #555;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  background-color: #002A32;
  padding: 0.5em;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  padding: 20px;
}

.main-content {
  grid-column: 1;
  background-color: #FFC6AC;
  padding: 20px;
  border: 1px solid #002A32;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar {
  grid-column: 2;
  background-color: #FFC6AC;
  padding: 20px;
  border: 1px solid #002A32;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.table {
  grid-column: 1;
  background-color: #FFC6AC;
  padding: 20px;
  border: 1px solid #002A32;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#dataTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#dataTable th, #dataTable td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

#dataTable th {
  background-color: #002A32;
  color: white;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

#dataTable td {
  background-color: #fff;
}

#dataTable tr:nth-child(even) td {
  background-color: #f9f9f9;
}

#dataTable tr:hover td {
  background-color: #ddd;
}
\#matchedDataTable {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

#matchedDataTable th {
  background-color: #002A32;
  color: white;
  padding: 12px;
  text-align: left;
  border: 1px solid #002A32;
}

#matchedDataTable td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

#matchedDataTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

#matchedDataTable tr:hover {
  background-color: #ddd;
}

h2 {
  margin-top: 0;
  color: #333;
}

h1{
  color: #f0f0f0;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
  clear: both;
}

label {

  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;

}
a {

  color: #F40076;

}

/* Tablet layout (max-width: 768px) */
@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
  }
  .main-content, .sidebar, .table {
    grid-column: 1;
  }
  .sidebar {
    margin-top: 20px;
  }
}

/* Mobile layout (max-width: 480px) */
@media (max-width: 480px) {
  header {
    padding: 0.5em;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  nav li {
    margin-right: 0;
    margin-bottom: 10px;
  }
  #dataTable, #matchedDataTable {
    font-size: 14px;
  }
  .main-content, .sidebar, .table {
    padding: 10px;
  }
}